<div class="wrap">
<h2 class="h2">Welcome to Meddical</h2>
<p class="p1">A Great Place to Receive Care</p>
<p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat <br> scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur <br> proin massa in. Consequat faucibus porttitor enim et.</p>
<p class="p3">Learn More <img src="../../../assets/img/strelka.png" alt="strelka"></p>
<img class="iomg" src="../../../assets/img/Blackdoctors.png" alt="">
<p class="p4">Care you can believe in</p>
<p class="p5">Our Services</p>
</div>