<div class="wrappr">
  <div class="bg2">
    <img src="../../../assets/img/Physician_Trend.png" alt="" class="img1" />
    <p class="p11">Caring for Life</p>
    <p class="p12">Leading the Way <br>in Medical Excellence</div>
  </div>
  <div class="bg3">
    <button class="b1">Book an Appointment
      <img src="../../../assets/img/Calendar.png" alt="">
    </button>
    <button class="b2">Book an Appointment
      <img src="../../../assets/img/Team.png" alt="">
    </button>
    <button class="b3">Book an Appointment
      <img src="../../../assets/img/Cash.png" alt="">
    </button>
  </div>
</div>








<div class="wrap">
  <h2 class="h2">Welcome to Meddical</h2>
  <p class="p1">A Great Place to Receive Care</p>
  <p class="p2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat
    <br />
    scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit
    nascetur <br />
    proin massa in. Consequat faucibus porttitor enim et.
  </p>
  <p class="p3">
    Learn More <img src="../../../assets/img/strelka.png" alt="strelka" />
  </p>
  <img class="iomg" src="../../../assets/img/Blackdoctors.png" alt="" />
  <p class="p4">Care you can believe in</p>
  <p class="p5">Our Services</p>
  <div class="setka">
    <div class="stolb">
      <div class="st1">
        <img src="../../../assets/img/medical 1.png" alt="" />
        <p class="p6">Free Checkup</p>
      </div>
      <div class="st2">
        <img src="../../../assets/img/serdce.png" alt="" />
        <p class="p7">Cardiogram</p>
      </div>
      <div class="st3">
        <img src="../../../assets/img/med-kit.png" alt="" />
        <p class="p8">Dna Testing</p>
      </div>
      <div class="st4">
        <img src="../../../assets/img/kachalka.png" alt="" />
        <p class="p9">Blood Bank</p>
      </div>
      <div class="st5">
        <p class="p10">View All</p>
      </div>
    </div>
  </div>
</div>
